@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.static{
  position: static;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.left-1\/2{
  left: 50%;
}

.left-\[91\.2\%\]{
  left: 91.2%;
}

.top-1\/2{
  top: 50%;
}

.left-\[91\%\]{
  left: 91%;
}

.z-\[1\]{
  z-index: 1;
}

.mt-72{
  margin-top: 18rem;
}

.mt-\[65px\]{
  margin-top: 65px;
}

.mt-\[70px\]{
  margin-top: 70px;
}

.mt-\[90px\]{
  margin-top: 90px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-\[450px\]{
  height: 450px;
}

.h-auto{
  height: auto;
}

.min-h-\[540px\]{
  min-height: 540px;
}

.min-h-\[600px\]{
  min-height: 600px;
}

.w-\[335px\]{
  width: 335px;
}

.w-\[50\%\]{
  width: 50%;
}

.w-\[75px\]{
  width: 75px;
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.w-1\/2{
  width: 50%;
}

.w-\[360px\]{
  width: 360px;
}

.grow{
  flex-grow: 1;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[95\%\]{
  --tw-translate-y: -95%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[75\%\]{
  --tw-translate-y: -75%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[78\%\]{
  --tw-translate-y: -78%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[73\%\]{
  --tw-translate-y: -73%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[1\.5\]{
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.content-evenly{
  align-content: space-evenly;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.gap-11{
  gap: 2.75rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-\[30px\]{
  gap: 30px;
}

.gap-\[40px\]{
  gap: 40px;
}

.gap-\[45px\]{
  gap: 45px;
}

.gap-\[55px\]{
  gap: 55px;
}

.gap-\[60px\]{
  gap: 60px;
}

.gap-\[90px\]{
  gap: 90px;
}

.rounded-full{
  border-radius: 9999px;
}

.bg-cWhite{
  --tw-bg-opacity: 1;
  background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}

.bg-cYellow{
  --tw-bg-opacity: 1;
  background-color: hsl(51 100% 49% / var(--tw-bg-opacity));
}

.bg-card-text-bg{
  --tw-bg-opacity: 1;
  background-color: rgb(255 251 248 / var(--tw-bg-opacity));
}

.bg-footer-bg{
  --tw-bg-opacity: 1;
  background-color: rgb(144 212 197 / var(--tw-bg-opacity));
}

.bg-graphic-design-mobile{
  background-image: url('../images/mobile/image-graphic-design.jpg');
}

.bg-hero-image-mobile{
  background-image: url('../images/mobile/image-header.jpg');
}

.bg-photography-mobile{
  background-image: url('../images/mobile/image-photography.jpg');
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[95px\]{
  padding-left: 95px;
  padding-right: 95px;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-\[14px\]{
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[25px\]{
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[45px\]{
  padding-top: 45px;
  padding-bottom: 45px;
}

.pb-\[70px\]{
  padding-bottom: 70px;
}

.pb-\[75px\]{
  padding-bottom: 75px;
}

.pt-\[65px\]{
  padding-top: 65px;
}

.text-center{
  text-align: center;
}

.font-barlow{
  font-family: Barlow, serif;
}

.font-fraunces{
  font-family: Fraunces, serif;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[0\.980rem\]{
  font-size: 0.980rem;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[2rem\]{
  font-size: 2rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-black{
  font-weight: 900;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.leading-10{
  line-height: 2.5rem;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-\[1\.5rem\]{
  line-height: 1.5rem;
}

.leading-\[1\.8rem\]{
  line-height: 1.8rem;
}

.tracking-\[0\.2em\]{
  letter-spacing: 0.2em;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-cWhite{
  --tw-text-opacity: 1;
  color: hsl(0 0% 100% / var(--tw-text-opacity));
}

.text-dark-desaturated-cyan{
  --tw-text-opacity: 1;
  color: hsl(167 40% 24% / var(--tw-text-opacity));
}

.text-dark-grayish-blue{
  --tw-text-opacity: 1;
  color: hsl(232 10% 55% / var(--tw-text-opacity));
}

.text-dark-moderate-cyan{
  --tw-text-opacity: 1;
  color: hsl(168 34% 41% / var(--tw-text-opacity));
}

.text-grayish-blue{
  --tw-text-opacity: 1;
  color: hsl(210 4% 67% / var(--tw-text-opacity));
}

.text-very-dark-desaturated-blue{
  --tw-text-opacity: 1;
  color: hsl(212 27% 19% / var(--tw-text-opacity));
}

.text-very-dark-grayish-blue{
  --tw-text-opacity: 1;
  color: hsl(213 9% 39% / var(--tw-text-opacity));
}

.triangleClip {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,100% 0,100% 100%);
}

.mobile-container{
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 640px){
  .tablet-container{
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1280px){
  .large-container{
    margin-left: 45px;
    margin-right: 45px;
  }
}

.before\:relative::before{
  content: var(--tw-content);
  position: relative;
}

.before\:-bottom-\[1\.5rem\]::before{
  content: var(--tw-content);
  bottom: -1.5rem;
}

.before\:z-\[-1\]::before{
  content: var(--tw-content);
  z-index: -1;
}

.before\:block::before{
  content: var(--tw-content);
  display: block;
}

.before\:h-2::before{
  content: var(--tw-content);
  height: 0.5rem;
}

.before\:w-full::before{
  content: var(--tw-content);
  width: 100%;
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-cYellow::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: hsl(51 100% 49% / var(--tw-bg-opacity));
}

.before\:bg-soft-red::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: hsl(7 99% 70% / var(--tw-bg-opacity));
}

.before\:opacity-15::before{
  content: var(--tw-content);
  opacity: 0.15;
}

.hover\:bg-opacity-50:hover{
  --tw-bg-opacity: 0.5;
}

.hover\:bg-opacity-70:hover{
  --tw-bg-opacity: 0.7;
}

.hover\:text-black:hover{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.hover\:text-cWhite:hover{
  --tw-text-opacity: 1;
  color: hsl(0 0% 100% / var(--tw-text-opacity));
}

.before\:hover\:opacity-100:hover::before{
  content: var(--tw-content);
  opacity: 1;
}

.hover\:before\:opacity-100:hover::before{
  content: var(--tw-content);
  opacity: 1;
}

@media (min-width: 640px){
  .sm\:bg-graphic-design-other{
    background-image: url('../images/desktop/image-graphic-design.jpg');
  }

  .sm\:bg-other-device-hero{
    background-image: url('../images/desktop/image-header.jpg');
  }

  .sm\:bg-photography-mobile-other{
    background-image: url('../images/desktop/image-photography.jpg');
  }
}

@media (min-width: 768px){
  .md\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-auto{
    height: auto;
  }

  .md\:w-\[50\%\]{
    width: 50%;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .md\:items-start{
    align-items: flex-start;
  }

  .md\:gap-8{
    gap: 2rem;
  }

  .md\:object-cover{
    -o-object-fit: cover;
       object-fit: cover;
  }

  .md\:py-\[35px\]{
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .md\:pb-0{
    padding-bottom: 0px;
  }

  .md\:text-left{
    text-align: left;
  }
}

@media (min-width: 1280px){
  .xl\:block{
    display: block;
  }

  .xl\:hidden{
    display: none;
  }

  .xl\:h-\[796px\]{
    height: 796px;
  }

  .xl\:min-h-\[796px\]{
    min-height: 796px;
  }

  .xl\:w-\[335px\]{
    width: 335px;
  }

  .xl\:w-\[450px\]{
    width: 450px;
  }

  .xl\:w-full{
    width: 100%;
  }

  .xl\:items-center{
    align-items: center;
  }

  .xl\:justify-center{
    justify-content: center;
  }

  .xl\:gap-12{
    gap: 3rem;
  }

  .xl\:gap-\[55px\]{
    gap: 55px;
  }

  .xl\:px-\[145px\]{
    padding-left: 145px;
    padding-right: 145px;
  }

  .xl\:pb-\[135px\]{
    padding-bottom: 135px;
  }

  .xl\:pt-\[100px\]{
    padding-top: 100px;
  }

  .xl\:text-\[3rem\]{
    font-size: 3rem;
  }

  .xl\:leading-\[3\.5rem\]{
    line-height: 3.5rem;
  }
}